#main-menu > li.list-group-item > {border: 1px solid gray; margin-bottom: 5px;}
#main-menu > li.list-group-item > a {display: block;}
#main-menu > li.list-group-item > a > img { width: 30px; margin-right: 5px; display: inline-block;}
textarea.deskripsi { resize: none;}
.main-img { width: 150px; height: 150px; margin: auto; }
.indent-5 > p { text-indent: 5%; line-height: 35px; text-align: justify;}
.banner-berita { width:400px; float: left; margin: 0 20 20 0;}
.banner-berita > img { width: 90%; margin-left: 5%;}


div#uraian > p > img {
    float: left;
    margin-top: 0px; margin-right: 10px; margin-bottom: 10px; margin-left: 0px;
}