
html{
    margin: 0; padding: 0;
}

body{
    margin: 0; padding: 0;
    background-image: linear-gradient( to bottom , #ffffffff, #024b2450 ),url('../img/candi.png'); 
    /* url('../img/candi.png'); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
}

#loginBoxWrapper{
    /* ukuran 320 x 360px */
    width:320px; height: 360px;
    /* Posisi Absolute tengah layar */
    position:absolute; top: 50%; left:50%;
    margin-top:-180px; margin-left:-160px;
    /* garis bingkai warna hijau */
    border: 1px solid green;
    /* sudut lingkar ujung 10px */
    border-radius: 10px;
    /* jarak dari tepi 15px */
    padding: 15px;
    /* latar belakang hijau kekuningan */
    background-color: #e7fa91;
  }

  #loginBoxBanner{
      /* latar beakang hijau */
      background-color: #3f9c01;
      /* jarak dari wrapper -15px (melawan padding wrapper) */
      margin: -15px -15px 15px -15px;
      /* jarak dari tepi 10px */
      padding: 10px;
      /* sudut lingkar atas kiri kanan 10px */
      border-radius: 10px 10px 0 0;
      /* rata teks tengah */
      text-align: center;
  }

  #loginBoxBanner p{
      /* teks cursive warna putih 20px */
      color: whitesmoke; font-family: cursive; font-size: 20px;
      /* jarak 0 ke elemen lain */
      margin:0;
  }

  #loginBoxForm{
      /* jarak dari banner 45px; */
      margin-top:45px;
  }

  